[Unit]
Description=Super Micro Fan Control
Requires=openipmi.service
After=syslog.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/smfc
ExecStart=smfc $OPTIONS

[Install]
WantedBy=multi-user.target
