[Unit]
Description=Super Micro Fan Control
Requires=openipmi.service
After=syslog.target openipmi.service

[Service]
Type=simple
EnvironmentFile=-/etc/default/smfc
ExecStart=/opt/smfc/smfc.py $OPTIONS

[Install]
WantedBy=multi-user.target
